.container-1{
    border: 3px solid black;
    padding: 10px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box{
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-box img{
    border: 1px ;
    padding: 10px;
}